.page.theme_dark {
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-shadow-color: var(--accent-color);
  --text-color: #f1b2ce;
  --background-color: #000028;
  --heading-color: var(--accent-color);
  --zone-decor-color: var(--accent-color);
  --text-decor-color: var(--background-color);
  --background-image: url(../images/cover-image-dark.png);
  --header-rec-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-color: #db00ff;
    --accent-color: #ff0070;
    --title-shadow-color: var(--accent-color);
    --text-color: #f1b2ce;
    --background-color: #000028;
    --heading-color: var(--accent-color);
    --zone-decor-color: var(--accent-color);
    --text-decor-color: var(--background-color);
    --background-image: url(../images/cover-image-dark.png);
    --header-rec-display: block;
  }
}
