.page.theme_light {
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-shadow-color: var(--accent-color);
  --text-color: #353430;
  --background-color: #fff1f7;
  --heading-color: var(--text-color);
  --zone-decor-color: var(--text-color);
  --text-decor-color: var(--text-color);
  --background-image: url(../images/cover-image-light.png);

  @media (width >= 1024px) {
    --title-shadow-color: #ff0070;
  }
}

.page.theme_light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --title-shadow-color: var(--accent-color);
    --text-color: #353430;
    --background-color: #fff1f7;
    --heading-color: var(--text-color);
    --zone-decor-color: var(--text-color);
    --text-decor-color: var(--text-color);
    --background-image: url(../images/cover-image-light.png);
  }

  .header__decoration {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  :root {
    --title-shadow-color: #ff0070;
  }
}
